# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\_git\training\some-go-playground\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
